/* FONTS */
@font-face {
    font-family: 'Proxima Nova Lt';
    src: url("./fonts/ProximaNova-Light.eot");
    src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("./fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Light.woff") format("woff"), url("./fonts/ProximaNova-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url("./fonts/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Sb';
    src: url("./fonts/ProximaNova-Semibold.eot");
    src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("./fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Semibold.woff") format("woff"), url("./fonts/ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* GENERAL */
body {
    background-color: #000c17;
}

.main {
    min-height: calc(100vh - 286px);
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1200px;
    }

    .container-lg {
        max-width: 1058px;
    }
}

/* TYPOGRAPHY */
h1 {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 22px;
    letter-spacing: -0.22px;
    text-transform: uppercase;
}

.heading {
    background-color: #111d3d;
    min-height: 50px;
}

.heading h1 {
    line-height: 50px;
    margin: 0;
    margin-top: 40px;
    padding-left: 23px;
    padding-right: 23px;
}

.main-content {
    background-color: #0e1720;
}

h2 {
    color: #fff;
    font-family: 'Proxima Nova Sb';
    font-size: 18px;
    letter-spacing: -0.18px;
    line-height: 18px;
}

p {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 18px;
}

/* BUTTON */
.button {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    transition: background-color .2s ease-in-out;
}

.button__red {
    background-color: #c63c3c;
}

.button__red.button__transparent {
    background-color: transparent;
    border: 2px solid #c63c3c;
}

.button__red:hover {
    background-color: #ad3333;
}

.button__red:hover.button__transparent {
    border: 2px solid #ad3333;
}

.button__white.button__transparent {
    background-color: transparent;
    border: 2px solid #fff;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.button__white:hover {
    background-color: #fff;
    color: #111d3d;
}

.button__white:hover.button__transparent {
    border: 2px solid #fff;
}

.button__xsss {
    font-size: 14px;
    min-width: 90px;
    height: 24px;
    padding: 0;
}

.button__xss {
    font-size: 18px;
    min-width: 100px;
    height: 40px;
}

.button__xs {
    font-size: 18px;
    min-width: 170px;
    height: 40px;
}

.button__md {
    font-size: 18px;
    min-width: 230px;
    height: 40px;
}

.button__lg {
    font-size: 18px;
    min-width: 270px;
    height: 40px;
}

.button__100 {
    min-width: 100%;
}

/* CARD */
.cards-block {
    padding-left: 15px;
    padding-right: 15px;
}

.card-block {
    background-color: #111d3d;
    border-radius: 0;
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    min-height: 120px;
    /*padding: 10px;*/
    padding: 22px 30px;
}

.card-block__text {
    font-family: 'Proxima Nova Sb';
}

.card-block .card-body {
    padding: 0;
}

@media (min-width: 1366px) {
    .card-block__label {
        height: 20px;
        margin-bottom: 5px;
    }

    .card-block__text {
        height: 20px;
        margin-bottom: 5px;
    }
}

/* LINK */
.link {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 14px;
}

.link:hover {
    color: #fff;
}

.link__red {
    color: #c63c3c;
}

/* PAGINATION */
.pagination-block .page-item .page-link {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.pagination-block .page-item .page-link span {
    background: url(./images/dropdown-arrow-white.png);
    display: block;
    height: 16px;
    width: 10px;
}

.pagination-block .page-item .page-link.next span {
    background: url(./images/dropdown-arrow-white.png);
    transform: rotate(180deg);
}

.pagination-block .page-item .page-link:hover {
    background-color: #c63c3c;
}

.pagination-block .page-item.active .page-link {
    color: #c63c3c;
}

.pagination-block .page-item.active .page-link:hover {
    color: #fff;
}

.pagination-block .page-item:first-of-type {
    margin-right: 10px;
}

.pagination-block .page-item:last-of-type {
    margin-left: 10px;
}

/* TABLES */
.table-block thead th {
    border-bottom: none;
}

.table-block tbody tr {
    transition: background-color .2s ease-in-out;
}

.table-block tbody tr:nth-of-type(odd) {
    background-color: #111d3d;
}

.table-block tbody tr:hover {
    background-color: #c63c3c;
}

.table-block th,
.table-block td {
    border: none;
    color: #fff;
    font-family: 'Proxima Nova Rg';
}

.table-block th {
    font-size: 16px;
}

.table-block td {
    font-size: 14px;
    vertical-align: middle;
}

/* LOGO */
.logo {
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* TIME */
.time {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.time__date {
    margin-right: 26px;
}

/* CART */
.cart {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.cart a {
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cart__icon {
    margin-right: 15px;
}

.cart__title {
    margin-right: 3px;
}

/* AUTHORIZATION */
.authorization {
    /*    padding: 15px;*/
}

.authorization .button {
    /*margin-right: 15px;*/
}

@media (min-width: 768px) {
    .authorization .button {
        margin-left: 26px;
    }

    .authorization .button:last-of-type {
        margin-right: 4px;
    }
}

@media (min-width: 1200px) {
    .authorization {
        margin-left: 13%;
    }
}

/* INFOBAR */
.infobar {
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-block {
    font-family: 'Proxima Nova Sb';
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.dropdown-block .dropdown-menu {
    background-color: #0e1720;
    border: 1px solid #fff;
    border-radius: 0;
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
}

.dropdown-block .dropdown-menu .dropdown-item {
    background-color: transparent;
    color: #fff;
    transition: background-color .2s ease-in-out;
}

.dropdown-block .dropdown-menu .dropdown-item:hover {
    background-color: #15245b;
}

.dropdown-block .dropdown-toggle {
    background-color: transparent;
    color: #c63c3c;
    padding: 0;
}

.dropdown-block .dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-block .dropdown-toggle .user-avatar {
    background-color: #c63c3c;
    border-radius: 50%;
    display: inline-block;
    height: 33px;
    width: 33px;
}

.dropdown-block .dropdown-toggle .user-name {
    letter-spacing: 1px;
    margin-left: 14px;
    margin-right: 22px;
}

.dropdown-block .dropdown-toggle:after {
    border: none;
    content: url(./images/dropdown-arrow.png);
    height: auto;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: .2s ease-in-out;
    width: auto;
}

.dropdown-block.show .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.dropdown-block.show .dropdown-toggle:after {
    transform: rotate(-180deg);
}

@media (min-width: 992px) {
    .infobar {
        min-height: 84px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1200px) {
    .infobar .logo {
        left: -.8%;
    }

    .infobar .time {
        left: 8%;
    }

    .infobar .cart {
        left: 9%;
    }

    .infobar .dropdown-block {
        left: .7%;
    }
}

@media (max-width: 991px) {
    .infobar .logo,
    .infobar .time,
    .infobar .cart,
    .infobar .dropdown-block {
        margin-bottom: 10px;
    }
}

/* NAVIGATION */
.navigation {
    background-color: #15245b;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navigation .navbar-nav .nav-item {
    position: relative;
}

.navigation .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

.navigation .navbar-toggler {
    border-color: #c63c3c;
    border-radius: 0;
}

.navigation .navbar-toggler:focus {
    outline: 5px auto #c63c3c;
}

.navigation .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {
    .navigation .navbar-nav .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }

    .navigation .navbar-nav .nav-item:before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        right: 100%;
        bottom: -4px;
        background: #c63c3c;
        height: 2px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .navigation .navbar-nav .nav-item:hover:before, .navigation .navbar-nav .nav-item.active:before {
        right: 0;
    }
}

@media (min-width: 992px) {
    .navigation .navbar-nav {
        position: relative;
        left: -12px;
    }

    .navigation .navbar-nav .nav-item {
        margin-left: 39px;
        margin-right: 39px;
    }
}

/* FORM */
.form-block {
    font-family: 'Proxima Nova Rg';
}

.form-block .form-group {
    margin-bottom: 10px;
}

.form-block .form-group label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 1px;
}

.form-block .form-group .form-control {
    border-radius: 4px;
    color: #202020;
    font-size: 18px;
    min-height: 40px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
}

.form-block .form-group .form-control:focus {
    background-color: #111D3D;
    border-color: #fff;
    color: #fff;
}

.form-block .form-group .form-text {
    color: #fff;
}

.form-block .form-group .form-text.valid {
    color: #28a745;
}

.form-block .form-group .form-text.invalid {
    color: #c63c3c;
}

.form-block__birthday .slim-select {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.form-block__birthday .slim-select .ss-single-selected .placeholder {
    text-align: center;
}

.form-block__birthday .slim-select .ss-arrow {
    display: none !important;
}

.form-block__birthday_day {
    width: 60px !important;
    margin-left: 0 !important;
}

.form-block__birthday_month {
    width: 83px !important;
}

.form-block__birthday_year {
    width: 65px !important;
    margin-right: 0 !important;
}

/* CHECKBOX */
.checkbox-block .custom-control-label {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.checkbox-block .custom-control-label:before {
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-top: -3px;
}

.checkbox-block .custom-control-label:after {
    border-radius: 2px;
    width: 15px;
    height: 15px;
    margin-top: -3px;
}

.checkbox-block .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #111D3D;
    outline: 1px solid #fff;
}

/* SELECT */
.ss-single-selected {
    color: #6c757d;
    min-height: 40px;
    font-size: 18px;
}

.ss-single-selected .placeholder {
    justify-content: center;
}

.ss-single-selected .ss-arrow span {
    border-color: #202020 !important;
    padding: 4px !important;
}

.ss-main .ss-content .ss-list .ss-option {
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.ss-main .ss-content .ss-list .ss-option:hover {
    background-color: #111D3D !important;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
    background-color: #111D3D !important;
    color: #fff !important;
}

/* TABS */
.tabs {
    background-color: #0e1720;
    border: none;
}

.tabs .nav-item {
    position: relative;
}

.tabs .nav-item .nav-link {
    border: none;
    border-radius: 0;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 22px;
    letter-spacing: -0.22px;
    min-height: 50px;
}

.tabs .nav-item .nav-link.active {
    background-color: #111d3d;
}

.tabs + .tab-content {
    /*        background-color: #111d3d;*/
    color: #fff;
    padding: 40px 0 40px;
}

/* MODAL */
.modal-block .modal-dialog .modal-content {
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #111D3D;
}

.modal-block .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.modal-block .modal-dialog .modal-content .modal-header .modal-title {
    color: #fff;
    font-family: 'Proxima Nova Sb';
    font-size: 30px;
    letter-spacing: -.25px;
    margin-top: 30px;
    margin-bottom: 0;
}

.modal-block .modal-dialog .modal-content .modal-header .close {
    height: 45px;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 45px;
}

.modal-block .modal-dialog .modal-content .modal-header .close img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-block .modal-dialog .modal-content .modal-text {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 18px;
    line-height: 20px;
}

.modal-block .modal-dialog .modal-content .modal-footer {
    border-top: none;
}

.modal-block__registration {
    max-width: 628px;
}

.modal-block__registration .form-block {
    max-width: 486px;
}

.modal-block__registration .form-block .checkbox-block {
    margin-top: 10px;
}

.modal-block__registration .button {
    margin-top: 21px;
    margin-bottom: 7px;
}

.modal-block__registration .link {
    display: inline-block;
    margin-bottom: 8px;
}

.modal-block__login {
    max-width: 573px;
}

.modal-block__login .form-block {
    max-width: 228px;
    margin-top: 5px;
}

.modal-block__login .form-block .form-group:first-of-type {
    margin-bottom: 20px;
}

.modal-block__login .button {
    margin-top: 9px;
    margin-bottom: 8px;
}

.modal-block__login .link {
    display: inline-block;
    margin-bottom: 7px;
}

.modal-block__password-recovery {
    max-width: 573px;
}

.modal-block__password-recovery .modal-text {
    margin-bottom: 20px;
}

.modal-block__password-recovery .form-block {
    max-width: 368px;
}

.modal-block__password-recovery .button {
    margin-top: 28px;
    margin-bottom: 11px;
}

.modal-block__confirm {
    max-width: 573px;
}

.modal-block__confirm .modal-text {
    margin-bottom: 20px;
}

.modal-block__confirm .form-block {
    max-width: 368px;
}

.modal-block__confirm .button {
    margin-top: 32px;
    margin-bottom: 11px;
}

.modal-block__registration-end {
    max-width: 573px;
}

.modal-block__registration-end .modal-text {
    margin-bottom: 20px;
}

.modal-block__registration-end .form-block {
    max-width: 368px;
}

.modal-block__registration-end .button {
    margin-top: 28px;
    margin-bottom: 11px;
}

.modal-block__money-transfer {
    max-width: 573px;
}

.modal-block__money-transfer .form-block {
    max-width: 270px;
}

.modal-block__money-transfer .form-block .form-group:first-of-type {
    margin-bottom: 20px;
}

.modal-block__money-transfer .button {
    margin-top: 19px;
    margin-bottom: 11px;
}

.modal-block__money-transfer-confirm {
    max-width: 573px;
}

.modal-block__money-transfer-confirm .modal-text {
    margin-top: 4px;
}

.modal-block__money-transfer-confirm .form-block {
    max-width: 270px;
}

.modal-block__money-transfer-confirm .button {
    margin-top: 30px;
    margin-bottom: 11px;
}

.modal-block__coefficient {
    max-width: 573px;
}

.modal-block__coefficient .success-icon {
    margin-top: 43px;
    margin-bottom: 8px;
}

.modal-block__coefficient .modal-text {
    font-size: 20px !important;
    margin-top: 4px;
}

.modal-block__coefficient .form-block {
    max-width: 320px;
}

.modal-block__coefficient .button {
    margin-top: 37px;
    margin-bottom: 11px;
}

.modal-block__thanks-message {
    max-width: 573px;
}

.modal-block__thanks-message .success-icon {
    margin-top: 52px;
    max-width: 64px;
}

.modal-block__thanks-message .modal-text {
    font-family: 'Proxima Nova Sb' !important;
    font-size: 22px !important;
    margin-top: 2px;
}

.modal-block__thanks-message .form-block {
    max-width: 320px;
}

.modal-block__thanks-message .button {
    margin-top: 28px;
    margin-bottom: 21px;
}

.modal-block__bet {
    max-width: 1030px;
    /*        .modal-text {
              font-family: 'Proxima Nova Sb' !important;
              font-size: 22px !important;
              margin-top: 2px;
          }*/
}

.modal-block__bet .form-block {
    max-width: 100%
}

.modal-block__bet .button {
    margin-top: 28px;
    margin-bottom: 21px;
}

.modal-block .card-block {
    background-color: #0f192b;
}

.modal-window ~ .modal-backdrop {
    background-color: #131313;
}

.modal-window ~ .modal-backdrop.show {
    opacity: 0.502;
}

@media (max-width: 575px) {
    .modal-block__registration .form-block .checkbox-block {
        margin-bottom: 10px;
    }
}

/* FOOTER */
.footer {
    background-color: #09131c;
    min-height: 136px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.footer__wrapper {
    max-width: 1156px;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo img {
    max-width: 202px;
}

.footer__partners img {
    margin: 5px 1.5rem;
    opacity: .4;
}

.footer__majority-sign img {
    opacity: .4;
}

.footer__copyright {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 12px;
    line-height: 18px;
}

.footer a {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 20px;
}

.footer__bottom {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .footer__partners {
        margin-left: 5.75%;
    }
}

@media (max-width: 1199px) {
    .footer__logo {
        margin-bottom: 15px;
    }

    .footer__partners {
        margin-bottom: 15px;
        text-align: center;
        width: 100%;
    }

    .footer__partners img {
        margin-bottom: 15px;
    }
}

/* MAIN PAGE */
.main-banner {
    margin-top: -7px;
}

/* ABOUT US*/
.about-us .main-content {
    padding-top: 37px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 6px;
    margin-bottom: 40px;
}

.about-us .main-content p {
    margin-bottom: 29px;
}

@media (min-width: 1200px) {
    .about-us .main-content {
        padding-left: 200px;
        padding-right: calc(100% - 930px);
    }
}

/* PROFILE */
.profile {
    margin-top: 40px;
    margin-bottom: 40px;
}

.profile h2 {
    margin-bottom: 20px;
}

.profile .tabs {
    background-color: #111d3d;
}

.profile .tabs .nav-item {
    margin-left: 36px;
    margin-right: 36px;
}

.profile .tabs .nav-item .nav-link {
    color: #a9a9a9;
    letter-spacing: 0;
    padding-left: 0;
    padding-right: 0;
    transition: color .2s ease-in-out;
}

.profile .tabs .nav-item .nav-link:hover, .profile .tabs .nav-item .nav-link.active {
    color: #fff;
}

.profile .tabs .nav-item .nav-link:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #c63c3c;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.profile .tabs .nav-item .nav-link:hover:before, .profile .tabs .nav-item .nav-link.active:before {
    right: 0;
}

.profile .tab-pane .form-block {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
}

.profile .tab-pane .form-block .form-group {
    margin-bottom: 19px;
}

.profile .tab-pane .form-block .form-block__birthday .slim-select {
    margin-left: 7px;
    margin-right: 7px;
}

.profile .tab-pane .form-block__birthday_day {
    width: 50px !important;
}

.profile .tab-pane .form-block__birthday_month {
    width: 115px !important;
}

.profile .tab-pane .form-block__birthday_year {
    width: 80px !important;
}

.profile .tab-pane .form-block .button.mx-auto {
    margin-top: 11px;
    margin-bottom: 40px;
}

.profile .tab-pane .divider {
    background-color: #fff;
    height: 1px;
    margin-bottom: 39px;
}

.profile .tab-pane .divider ~ .form-block {
    max-width: 780px;
}

.profile .tab-pane .divider ~ .form-block .button.mx-auto {
    margin-bottom: 0px;
}

.profile .tab-pane .table-bets td {
    height: 40px;
    min-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.profile .tab-pane .table-finance td {
    height: 58px;
    min-height: 58px;
    padding-top: 0;
    padding-bottom: 0;
}

.profile #history-tab .cards-block {
    margin-bottom: 30px;
}

.profile #history-tab .cards-block h2 {
    margin-bottom: 26px;
}

.profile #finance-tab .cards-block {
    margin-bottom: 30px;
}

.profile #finance-tab .cards-block h2 {
    margin-bottom: 26px;
}

.profile #finance-tab .card-block + .button {
    margin-top: 14px;
    height: 35px;
    line-height: 20px;
}

@media (min-width: 1600px) {
    .cards-block {
        max-width: 980px;
    }
}

@media (max-width: 767px) {
    .profile .tab-pane .table-bets button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* PAGES */
.pages-list,
.pages-list a {
    color: #fff;
    font-family: 'Proxima Nova Lt';
    font-size: 24px;
}

/* UTILITIES */
.nowrap {
    white-space: nowrap;
}

.upload {
    margin-bottom: 1rem;
    color: #fff;
    padding: 0.15rem 1rem;
    border: 2px solid #dc3545;
    border-radius: 1.5rem;
    font-family: 'Proxima Nova Lt';
    font-size: 16px;
    transition: 0.3s;
}

.upload:hover {
    background: #dc3545;
}

.upload img {
    width: 1rem;
    position: relative;
    top: -2px;
    left: -1px;
}

.uploadDone {
    border: 2px solid #1acf81;
}

.rot {
    animation: 5s linear 0s normal none infinite running rot;
    -webkit-animation: 5s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.test {
    width: 100%;
    background: #121d3c;
    height: 50px;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
}

.b-main {
    background: #0e1720 !important;
}

.b-two {
    background: #121d3c !important;
}

.card {
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 0.9rem;
    margin: 2rem 0;
}

.card img {
    margin: 2rem auto;
    width: 5rem;
}

.card button {
    width: 60% !important;
    min-width: 60% !important;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.m5 {
    margin: 0.25rem auto;
}

.creditCart {
    margin-left: 1rem;
    border: 0.1rem solid #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.tabelEvent {
    border: 1px solid #15245b;
}

.card2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.readHover:hover {
    background: #CF7D7D !important;
    color: #fff !important;
}

.text-red {
    text-decoration: underline;
    color: red;
}

.readHover:hover .text-red {
    background: #CF7D7D !important;
    color: #fff !important;
}

.blockOutComes {
    width: 100%;
    height: calc(10.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.blockOutComes div div div:hover {
    border-radius: 50%;
    background: #c63c3c;
    color: #fff;
    cursor: alias;
}

.blockOutComes .active {
    border-radius: 50%;
    background: #c63c3c;
    color: #fff;
}

.table-block thead th {
    border-bottom: none;
}

.table-block tbody tr {
    transition: background-color .2s ease-in-out;
}

.table-block tbody tr:nth-of-type(odd) {
    background-color: #111d3d;
}

.table-block tbody tr:nth-of-type(even) {
    background-color: #0e1720;
}

.table-block tbody tr:hover {
    background-color: #c63c3c;
}

.table-block th,
.table-block td {
    border: none;
    color: #fff;
    font-family: 'Proxima Nova Rg';
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-block th {
    font-size: 16px;
    font-weight: normal;
}

.table-block td {
    font-size: 14px;
    vertical-align: middle;
}

.total {
    color: #fff;
    font-family: 'Proxima Nova Rg';
}

.total__label {
    font-size: 18px;
    margin-right: 14px;
}

.total__text {
    border: 2px solid #fff;
    border-radius: 2px;
    height: 25px;
    min-width: 95px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.total.disabled {
    color: rgba(255, 255, 255, 0.5);
}

.total.disabled .total__text {
    border: 2px solid rgba(255, 255, 255, 0.5);
}